main {
  max-width: 1024px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .sidebar {
    width: 240px;
  }

  .homeside {
    width: 200px;
  }

  .min-height {
    min-height: 600px;
    height: 600px;
  }
}

.flex1 {
  flex: 1;
}