main {
  max-width: 1024px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .sidebar {
    width: 240px;
  }
  .homeside {
    width: 220px;
  }
  .min-height {
    min-height: 600px;
    height: 600px;
  }
}

.flex1 {
  flex: 1;
}

.v-enter-active {
  transition: all .36s ease;
}

.v-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.v-enter,
.v-leave-active {
  transform: translateX(10px);
  /*opacity: .88;*/
}