<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Copy Registration Table</title>
  <!-- Font library and icon pack -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <!-- for IE -->
  <script src="IE-compatible.js"></script>
  <!-- Vue -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <!-- Vuetify.js required files -->
  <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
  <!-- firebase -->
  <script src="/__/firebase/4.1.2/firebase-app.js"></script>
  <script src="/__/firebase/4.1.2/firebase-auth.js"></script>
  <script src="/__/firebase/4.1.2/firebase-database.js"></script>
  <script src="/__/firebase/init.js"></script>
  <style>
    [v-cloak] {
      display: none;
    }

    #app{
      min-height: 100vh;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    .dialog--scrollable {
      max-height: 80vh !important;
    }

    .dialog--scrollable>.card {
      max-height: 100% !important;
    }

    .dialog--scrollable>.card .card__text {
      max-height: calc( 80vh - 68px - 52px);
      overflow-y: auto;
    }
  </style>
</head>

<body>
  <v-app id="app" class="light-green lighten-4">
    <v-layout justify-center>
      <v-flex xs12 fill-height pa-3>
        <v-dialog v-cloak v-model="notauth" persistent>
          <v-card>
            <v-card-row>
              <v-card-title>Login</v-card-title>
            </v-card-row>
            <v-container class="py-0">
              <v-text-field label="acc" v-model="acc" required></v-text-field>
              <v-text-field label="p" v-model="p" required></v-text-field>
            </v-container>
            <v-card-row actions>
              <v-btn class="green--text darken-1" flat="flat" @click.native="clearLogin">clear</v-btn>
              <v-btn class="green--text darken-1" flat="flat" @click.native="login">in</v-btn>
            </v-card-row>
          </v-card>
        </v-dialog>
        <v-dialog v-cloak v-model="init" persistent scrollable>
          <v-card>
            <v-card-title>Select data for copy</v-card-title>
            <v-divider></v-divider>
            <v-card-row>
              <v-card-text>
                <div v-for="item in list">
                  <v-checkbox :label="nametable[item]" v-model="show[item]"></v-checkbox>
                </div>
              </v-card-text>
            </v-card-row>
            <v-card-row actions>
              <v-btn class="green--text darken-1" flat="flat" @click.native="selected=true">Go</v-btn>
            </v-card-row>
          </v-card>
        </v-dialog>
        <div is="table" v-cloak v-if="!notauth && selected">
          <div is="tr">
            <span is="th" v-for="item in list" v-if="show[item]">{{nametable[item]}}</span>
          </div>
          <div is="tr" v-for="reg in regs">
            <span is="td" v-for="item in list" v-if="show[item]">{{reg[item]}}</span>
          </div>
        </div>
      </v-flex>
    </v-layout>
  </v-app>
  <script>
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          notauth: true,
          acc: '',
          p: '',
          regs: [],
          loading: true,
          selected: false,
          list: ['time', 'name', 'email', 'affiliation', 'job', 'hotelOption', 'hotelStartDate', 'hotelEndDate',
            'doPoster', 'doOral', 'oralTime', 'joinTour', 'title', 'abstract', 'special', 'id', 'key'
          ],
          nametable: {
            time: 'Last edit Time',
            name: 'Name',
            email: 'Email',
            affiliation: 'Affiliation',
            job: 'Job',
            hotelOption: 'Hotel',
            hotelStartDate: 'Check-in',
            hotelEndDate: 'Check-out',
            doPoster: 'Poster',
            doOral: 'Oral',
            oralTime: 'Talk time',
            joinTour: 'Tour',
            title: 'Title',
            abstract: 'Abstract',
            special: 'Special',
            id: 'ID',
            key: 'Key'
          },
          show: {
            time: false,
            name: true,
            email: false,
            affiliation: true,
            job: true,
            hotelOption: true,
            hotelStartDate: true,
            hotelEndDate: true,
            doPoster: true,
            doOral: true,
            oralTime: true,
            joinTour: false,
            title: true,
            abstract: false,
            special: true,
            id: false,
            key: false,
          }
        }
      },
      mounted: function () {
        var me = this
        firebase.auth().onAuthStateChanged(function (user) {
          if (user) {
            me.notauth = false
            me.clearLogin()
            me.load()
          } else {
            // User is signed out.
            // ...
            me.notauth = true
            me.regs = []
            me.clearLogin()
          }
        })
      },
      computed: {
        init: function () {
          return !this.notauth && !this.selected;
        }
      },
      methods: {
        clearLogin: function () {
          this.acc = ''
          this.p = ''
        },
        logout: function () {
          firebase.auth().signOut().catch(function (error) {
            // An error happened.
            var errorMessage = error.message
            alert(errorMessage)
          })
        },
        login: function () {
          firebase.auth().signInWithEmailAndPassword(this.acc, this.p).catch(function (error) {
            // Handle Errors here.
            // var errorCode = error.code
            var errorMessage = error.message
            // ...
            alert(errorMessage)
          })
        },
        load: function () {
          var me = this
          me.loading = true
          firebase.database().ref('reg').once('value').then(function (snap) {
            if (snap.exists()) {
              var data = snap.val()
              var keys = Object.keys(data)
              keys.forEach(function (key) {
                // console.log(key)
                me.regs.push(me.processReg(key, data[key]))
              })
              me.loading = false
            }
          })
        },
        showContent: function (item, type) {
          this.dialog.who = item.name
          this.dialog.type = type
          this.dialog.content = item[type]
          this.dialog.show = true
        },
        processReg: function (key, data) {
          data = Object.assign({}, data)
          // replace string
          if (!data.title) {
            data.title = '-'
          }
          if (data.hotelOption == 'Hsiu-Chi House') {
            data.hotelOption = 'HC'
          } else if (data.hotelOption == 'Just Sleep') {
            data.hotelOption = 'JS'
          }
          if (data.hotelStartDate) {
            data.hotelStartDate = data.hotelStartDate.replace('2017-', '')
            data.hotelStartDate = data.hotelStartDate.replace('-', '/')
          }
          if (data.hotelEndDate) {
            data.hotelEndDate = data.hotelEndDate.replace('2017-', '')
            data.hotelEndDate = data.hotelEndDate.replace('-', '/')
          }
          if (data.oralTime) {
            data.oralTime = data.oralTime.replace('Talk ', '')
          }
          if (data.abstract.match(/tbd/i) && data.abstract.length < 5) {
            data.abstract = ''
          }
          // handle true/false
          var t = 'yes', f = 'no';
          // var t = 'done', f = 'clear';
          // var t = 'v', f = 'x';
          // var t = '√', f = '×';
          if (!data.hotel) {
            data.hotelOption = '-'
            data.hotelStartDate = '-'
            data.hotelEndDate = '-'
            data.hotel = ''
          } else {
            data.hotel = t
          }
          if (data.doPoster) {
            data.doPoster = t
            data.oralTime = '-'
            data.doOral = f
          } else {
            data.doPoster = f
            if (!data.doOral) {
              // data.oralWithPoster = '-'
              data.oralTime = '-'
              data.doOral = f
            } else {
              data.doOral = t
              if (data.oralWithPoster) {
                data.doPoster = t
              }
            }
          }
          if (!data.joinTour) {
            data.joinTour = f
          } else {
            data.joinTour = t
          }
          if (!data.abstract) {
            data.hasAbstract = f
          } else {
            data.hasAbstract = t
          }
          if (!data.special) {
            data.hasSpecial = f
          } else {
            data.hasSpecial = t
          }
          return {
            name: data.nameTitle + ' ' + data.nameFirst + ' ' + data.nameLast,
            email: data.email,
            affiliation: data.affiliation,
            job: data.job,
            hotel: data.hotel,
            hotelOption: data.hotelOption,
            hotelStartDate: data.hotelStartDate,
            hotelEndDate: data.hotelEndDate,
            doPoster: data.doPoster,
            doOral: data.doOral,
            oralTime: data.oralTime,
            joinTour: data.joinTour,
            title: data.title,
            hasAbstract: data.hasAbstract,
            hasSpecial: data.hasSpecial,
            abstract: data.abstract,
            special: data.special,
            id: data.id,
            key: key,
            time: new Date(data.timestamp)
          }
        },
      }
    })
  </script>
  <!--<script>
  app.regs.push(app.processReg('a',{email:'aaa@bbbbbbb.com'}))
  </script>-->
</body>

</html>