main {
  max-width: 1024px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.flex1 {
  flex-basis: 1 1 0;
}

.map {
  width: 100%;
  height: 360px;
  border: 0;
}

@media (max-width: 599px) {
  main {
    word-wrap: break-word;
  }
}

@media (min-width: 600px) {
  .flex1 {
    flex: 1;
  }

  .map {
    height: 450px;
  }

  html {
    overflow-x: auto;
  }

  .app-width {
    min-width: 960px;
  }

  .sidebar {
    width: 240px;
  }

  .homeside {
    width: 220px;
  }

  .min-height {
    min-height: 600px;
  }
}

.sec-title {
  white-space: nowrap;
  overflow: hidden;
}

.main-img {
  width: 100%;
  max-width: 600px;
}

.v-enter-active {
  transition: all .36s ease;
}

.v-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.v-enter {
  transform: translateX(-5px);
  opacity: 0;
}

.v-leave-active {
  transform: translateX(10px);
  opacity: 0;
}

#regnof li {
  margin-bottom: 8px;
}

/*.dialog--fullscreen .toolbar .btn:last-child {
  margin: initial !important;
  margin-right: 16px !important;
}*/

p.MsoNormalCxSpFirst,
p.MsoNormalCxSpMiddle {
  margin-top: 6px;
  margin-bottom: 6px;
}