<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Submit Registration</title>
  <!-- Font library and icon pack -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <!-- for IE -->
  <script src="IE-compatible.js"></script>
  <!-- Vue -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <!-- Vuetify.js required files -->
  <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
  <!-- my style -->
  <link href="register.css" rel="stylesheet" type="text/css">
</head>

<body>
  <v-app id="app" class="blue lighten-4">
    <v-layout justify-center>
      <v-flex fill-height xs12 sm11 md10 lg9>
        <v-alert error class="ma-0 elevation-1" v-model="error" dismissible>{{ errorMsg }}</v-alert>
        <v-alert success class="ma-0 elevation-1" v-model="success">{{ successMsg }}</v-alert>
        <v-card id="main">
          <v-card-row>
            <v-toolbar light>
              <v-btn icon="icon" @click.native="history.back()" light>
                <v-icon>arrow_back</v-icon>
              </v-btn>
              <v-toolbar-title>Registration</v-toolbar-title>
              <v-btn light flat @click.native="askId=true">Load</v-btn>
              <v-btn light outline @click.native="submit">Submit</v-btn>
            </v-toolbar>
          </v-card-row>
          <div>
            <v-container class="ma-0 pa-0">
              <div class="subheader subheader--dark">Personal information</div>
              <v-container class="ma-0 px-3 py-0">
                <v-layout ma-0 row-sm column>
                  <v-flex xs6 sm2 py-2>
                    <v-select v-bind:items="nameTitles" v-model="nameTitle" label="title" single-line required class="my-0"></v-select>
                  </v-flex>
                  <v-flex xs12 sm5 py-2>
                    <v-text-field label="First Name" v-model="nameFirst" required class="my-0"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm5 py-2>
                    <v-text-field label="Last Name" v-model="nameLast" required class="my-0"></v-text-field>
                  </v-flex>
                </v-layout>
                <v-flex xs12>
                  <v-text-field label="Email" v-model="email" required type="email"></v-text-field>
                  <v-text-field label="Affiliation" v-model="affiliation" required></v-text-field>
                  <v-text-field label="Job Title" v-model="job" required></v-text-field>
                </v-flex>
              </v-container>
            </v-container>
          </div>
          <v-list three-line subheader>
            <v-divider></v-divider>
            <v-subheader>Workshop from 8/22 8:30 am to 8/24 1pm</v-subheader>
            <v-list-item>
              <v-list-tile avatar tag="div">
                <v-list-tile-action>
                  <v-checkbox v-model="hotel"></v-checkbox>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>Lodging</v-list-tile-title>
                  <v-list-tile-sub-title>Requested before for reservation purpose, please fill in it again</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-item>
            <v-list-item v-if="hotel">
              <v-list-tile avatar tag="div">
                <v-list-tile-action></v-list-tile-action>
                <v-select v-bind:items="hotelOptions" v-model="hotelOption" label="Prefered hotel" single-line required class="mr-2"></v-select>
              </v-list-tile>
            </v-list-item>
            <v-layout v-if="hotel" mx-0>
              <v-flex offset-xs1>
                <div class="hotel-time">
                  <v-menu v-model="hotelStartMenu" lazy transition="v-scale-transition" offset-y :nudge-left="40">
                    <v-text-field label="Check-in" v-model="hotelStartDate" slot="activator" prepend-icon="event" readonly></v-text-field>
                    <v-date-picker v-model="hotelStartDate" no-title scrollable actions dark></v-date-picker>
                  </v-menu>
                </div>
                <div class="hotel-time">
                  <v-menu v-model="hotelEndMenu" lazy transition="v-scale-transition" offset-y :nudge-left="40">
                    <v-text-field label="Check-out" v-model="hotelEndDate" slot="activator" prepend-icon="event" readonly></v-text-field>
                    <v-date-picker v-model="hotelEndDate" no-title scrollable actions dark></v-date-picker>
                  </v-menu>
                </div>
              </v-flex>
            </v-layout>
            <v-list-item>
              <v-list-tile avatar tag="div">
                <v-list-tile-action>
                  <v-checkbox v-model="doOral" :disabled="doPoster"></v-checkbox>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title :class="{'disable-color':doPoster}">Oral Presentation</v-list-tile-title>
                  <v-list-tile-sub-title :class="{'disable-color':doPoster}">Submit details below</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-item>
            <transition-group name="vertical" id="posterOption" tag="div">
              <div v-if="doOral" id="oralWithPoster" class="indent" key="withOral">
                <v-checkbox v-model="oralWithPoster" label=" I will have a poster with the same title"></v-checkbox>
              </div>
              <v-list-item v-if="!doOral" key="noOral">
                <v-list-tile avatar tag="div">
                  <v-list-tile-action>
                    <v-checkbox v-model="doPoster" :disabled="doOral"></v-checkbox>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Poster</v-list-tile-title>
                    <v-list-tile-sub-title>Submit details below</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list-item>
            </transition-group>
            <v-list-item>
              <v-list-tile avatar tag="div">
                <v-list-tile-action>
                  <v-checkbox v-model="joinTour"></v-checkbox>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>Join the Field trip</v-list-tile-title>
                  <v-list-tile-sub-title>It's going to be held in the afternoon, 8/23. Details will be announced later.</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-item>
          </v-list>
          <!--<transition-group>-->
          <div v-if="doOral" key="oral">
            <v-divider></v-divider>
            <v-container class="ma-0 pa-0">
              <div class="subheader subheader--dark">Oral Presentation Information</div>
              <v-container class="ma-0 px-3 py-0">
                <div class="description ml-3 mb-4">Please fill in the title and abstract of your work and select the length of your talk as you prefer. Title
                  is necessary for our work; abstract can be uploaded(modified) later by your ID obtaining after a successful
                  registration.
                </div>
                <v-text-field label="Title" v-model="title" required></v-text-field>
                <v-select v-bind:items="timeOptions" v-model="oralTime" label="Prefered talk time" :hint="talkTimeHint" :persistent-hint="!oralWithPoster"
                  single-line required class="my-0"></v-select>
                <v-text-field label="Abstract" v-model="abstract" :hint="hintOralAbs" persistent-hint counter max="500" multi-line></v-text-field>
              </v-container>
            </v-container>
          </div>
          <div v-if="doPoster" key="poster">
            <v-divider></v-divider>
            <v-container class="ma-0 pa-0">
              <div class="subheader subheader--dark">Poster Information</div>
              <v-container class="ma-0 px-3 py-0">
                <div class="description ml-3 mb-4">Please fill in the title and abstract of your work. Title is necessary for our work; abstract can be uploaded(modified)
                  later by your ID obtaining after a successful registration.
                </div>
                <v-text-field label="Title" v-model="title" required></v-text-field>
                <v-text-field label="Abstract" v-model="abstract" :hint="hintPosterAbs" persistent-hint counter max="500" multi-line></v-text-field>
              </v-container>
            </v-container>
          </div>
          <!--</transition-group>-->
          <v-card-row height="56" class="grey lighten-4 mt-3"></v-card-row>
        </v-card>
      </v-flex>
      <v-dialog v-model="showDialog" width="340" persistent>
        <v-card>
          <div v-if="wait">
            <v-card-row>
              <v-card-title>
                Wait a second
              </v-card-title>
            </v-card-row>
            <v-progress-linear :indeterminate="true" :height="5" class="mt-0"></v-progress-linear>
            <v-card-row>
              <v-card-text>Sending data to the server...</v-card-text>
            </v-card-row>
          </div>
          <div v-if="submitted">
            <v-card-row>
              <v-card-title>Successful Regristration</v-card-title>
            </v-card-row>
            <v-card-row>
              <v-card-text>
                Please remember your ID (<b>case sensitive</b>):
                <div class="display-1 red--text amber lighten-4 mb-2">{{id}}</div>
                You can use this ID to load the registration form and make modifications later.
              </v-card-text>
            </v-card-row>
            <v-card-row actions>
              <v-btn class="green--text darken-1" flat="flat" @click.native="submitted=false">Close</v-btn>
            </v-card-row>
          </div>
          <div v-if="askId">
            <v-card-row>
              <v-card-title>Input your ID</v-card-title>
            </v-card-row>
            <v-card-row>
              <v-card-text>
                Don't change it if you are not tring to re-load data from server!
                <v-text-field label="ID" v-model="id"></v-text-field>
              </v-card-text>
            </v-card-row>
            <v-card-row actions>
              <v-btn class="green--text darken-1" flat="flat" @click.native="askId=false">Cancel</v-btn>
              <v-btn class="green--text darken-1" flat="flat" @click.native="loadFromServer">Load</v-btn>
            </v-card-row>
          </div>
          <div v-if="notComplete">
            <v-card-row>
              <v-card-title>Not Completed</v-card-title>
            </v-card-row>
            <v-card-row>
              <v-card-text>
                Please fill all needed fields (marks with *) and make sure they are correct before you submit.
              </v-card-text>
            </v-card-row>
            <v-card-row actions>
              <v-btn class="green--text darken-1" flat="flat" @click.native="notComplete=false">OK</v-btn>
            </v-card-row>
          </div>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-app>
  <script>
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          nameTitle: '',
          nameTitles: ['Mr.', 'Ms.', 'Dr.', 'Prof.'],
          nameFirst: '',
          nameLast: '',
          email: '',
          affiliation: '',
          job: '',
          hotel: false,
          hotelOption: '',
          hotelOptions: ['Just Sleep', 'Hsiu-Chi House'],
          hotelStartMenu: false,
          hotelStartDate: '',
          hotelEndMenu: false,
          hotelEndDate: '',
          doOral: false,
          oralWithPoster: true,
          doPoster: false,
          joinTour: true,
          title: '',
          abstract: '',
          oralTime: '',
          hintOralAbs: '300~500 words, you can submit abstract later by sending email',
          hintPosterAbs: '300~500 words, you can submit abstract later by sending email',
          wait: false,
          submitted: false,
          id: '',
          key: '',
          askId: false,
          error: false,
          errorMsg: '',
          success: false,
          successMsg: '',
          notComplete: false
        }
      },
      computed: {
        timeOptions: function () {
          return ['Talk 5 mins', 'Talk 15 mins']
          // return this.oralWithPoster ? ['Talk 5 mins', 'Talk 15 mins'] : ['Talk 15 mins']
        },
        talkTimeHint: function () {
          return this.oralWithPoster ? '' : 'If you don\'t have a poster, we recommend providing a 15min talk.'
        },
        submitData: function () {
          return {
            nameTitle: this.nameTitle,
            nameFirst: this.nameFirst,
            nameLast: this.nameLast,
            email: this.email,
            affiliation: this.affiliation,
            job: this.job,
            hotel: this.hotel,
            hotelOption: this.hotelOption,
            hotelStartDate: this.hotelStartDate,
            hotelEndDate: this.hotelEndDate,
            doOral: this.doOral,
            oralWithPoster: this.oralWithPoster,
            doPoster: this.doPoster,
            joinTour: this.joinTour,
            title: this.title,
            abstract: this.abstract,
            oralTime: this.oralTime,
          }
        },
        showDialog: function () {
          return this.wait || this.submitted || this.askId || this.notComplete;
        }
      },
      watch: {
        oralWithPoster: function () {
          if (this.oralTime && !this.timeOptions.includes(this.oralTime)) {
            this.oralTime = ''
          }
        }
      },
      methods: {
        checkData: function () {
          if (!this.email || !this.email.match(/\w+@(?:\w+\.)\w+/)) {
            // email not ok
            console.log('email not ok')
            return false
          }
          if (!(this.nameTitle && this.nameFirst && this.nameLast && this.affiliation && this.job)) {
            console.log('presonal info not ok')
            return false
          }
          if (this.hotel) {
            // Lodging requested
            if (!(this.hotelOption && this.hotelStartDate && this.hotelEndDate)) {
              // Lodging info not ok
              console.log('Lodging info not ok')
              return false
            }
          }
          if (this.doOral || this.doPoster) {
            // need title at least
            if (!(this.title)) {
              console.log('Need presentation title')
              return false
            }
          }
          if (this.doOral) {
            if (!this.oralTime) {
              console.log('Select talk time')
              return false
            }
          }
          return true
        },
        submit: function () {
          console.log('Not yet initialized')
        },
        loadFromServer: function () {
          console.log('Not yet initialized')
        },
        fillData: function (data) {
          try {
            this.nameTitle = data.nameTitle
            this.nameFirst = data.nameFirst
            this.nameLast = data.nameLast
            this.email = data.email
            this.affiliation = data.affiliation
            this.job = data.job
            this.hotel = data.hotel
            this.hotelOption = data.hotelOption
            this.hotelStartDate = data.hotelStartDate
            this.hotelEndDate = data.hotelEndDate
            this.doOral = data.doOral
            this.oralWithPoster = data.oralWithPoster
            this.doPoster = data.doPoster
            this.joinTour = data.joinTour
            this.title = data.title
            this.abstract = data.abstract
            this.oralTime = data.oralTime
            this.key = data.key
          } catch (error) {
            // Data Error
          }
        },
        alert: function (msg) {
          this.errorMsg = msg
          this.wait = false
          this.error = true
          // var me = this
          // setTimeout(function () {
          //   me.error = false
          // }, 5000);
        },
        info: function (msg) {
          this.successMsg = msg
          this.wait = false
          this.success = true
          var me = this
          setTimeout(function () {
            me.success = false
          }, 5000);
        }
      }
    })
  </script>
  <script src="/__/firebase/4.1.2/firebase-app.js"></script>
  <!--<script src="/__/firebase/4.1.2/firebase-auth.js"></script>-->
  <script src="/__/firebase/4.1.2/firebase-database.js"></script>
  <script src="/__/firebase/init.js"></script>
  <script src="register.js"></script>
</body>

</html>