<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Table</title>
  <!-- Font library and icon pack -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <!-- for IE -->
  <script src="IE-compatible.js"></script>
  <!-- Vue -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <!-- Vuetify.js required files -->
  <script src="https://unpkg.com/vuetify@0.12.7/dist/vuetify.min.js"></script>
  <link href="https://unpkg.com/vuetify@0.12.7/dist/vuetify.min.css" rel="stylesheet" type="text/css">
  <!-- firebase -->
  <script src="/__/firebase/4.1.2/firebase-app.js"></script>
  <script src="/__/firebase/4.1.2/firebase-auth.js"></script>
  <script src="/__/firebase/4.1.2/firebase-database.js"></script>
  <script src="/__/firebase/init.js"></script>
  <style>
    [v-cloak] {
      display: none;
    }

    #app{
      min-height: 100vh;
    }

    .nobreak {
      white-space: nowrap;
    }

    .click {
      cursor: pointer;
      color: #f57c00!important;
      font-weight: bold !important;
      /*font-size: 16px !important;*/
    }

    td {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }

    td.long {
      min-width: 248px;
    }

    .dialog--scrollable {
      max-height: 80vh !important;
    }

    .dialog--scrollable>.card {
      max-height: 100% !important;
    }

    .dialog--scrollable>.card .card__text {
      max-height: calc( 80vh - 68px - 52px );
      overflow-y: auto;
    }
  </style>
</head>

<body>
  <v-app id="app" class="light-green lighten-4 fill-height">
    <v-layout justify-center>
      <v-flex xs12 fill-height>
        <v-dialog v-model="notauth" persistent>
          <v-card>
            <v-card-row>
              <v-card-title>Login</v-card-title>
            </v-card-row>
            <v-container class="py-0">
              <v-text-field label="acc" v-model="acc" required></v-text-field>
              <v-text-field label="p" v-model="p" required></v-text-field>
            </v-container>
            <v-card-row actions>
              <v-btn class="green--text darken-1" flat="flat" @click.native="clearLogin">clear</v-btn>
              <v-btn class="green--text darken-1" flat="flat" @click.native="login">in</v-btn>
            </v-card-row>
          </v-card>
        </v-dialog>
        <v-card v-cloak v-if="!notauth">
          <v-card-title>
            Registration
            <v-spacer></v-spacer>
            <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
          </v-card-title>
          <!--<v-progress-linear :active="loading" height="2" :indeterminate="true"></v-progress-linear>-->
          <v-data-table :headers="headers" :items="regs" :search="search" :loading="loading" :pagination.sync="pagination">
            <template slot="items" scope="props">
              <td class="nobreak" v-tooltip:right="{ html: props.item.time.toTimeString() }">{{ (props.item.time.getMonth()+1) + '/' + props.item.time.getDate() }}</td>
              <td class="nobreak">{{ props.item.name }}</td>
              <td class="click" @click="showContent(props.item,'email')"><v-icon>inbox</v-icon></td>
              <td class="long">{{ props.item.affiliation }}</td>
              <td>{{ props.item.job }}</td>
              <td>{{ props.item.hotelOption }}</td>
              <td class="nobreak">{{ props.item.hotelStartDate }}</td>
              <td class="nobreak">{{ props.item.hotelEndDate }}</td>
              <td><v-icon>{{props.item.doPoster}}</v-icon></td>
              <td><v-icon>{{props.item.doOral}}</v-icon></td>
              <td class="nobreak">{{ props.item.oralTime }}</td>
              <td><v-icon>{{props.item.joinTour}}</v-icon></td>
              <td class="long">{{ props.item.title }}</td>
              <!--<td v-if="!props.item.abstract"><v-icon>{{props.item.hasAbstract}}</v-icon></td>-->
              <td v-if="!props.item.abstract">-</td>
              <td class="click" v-if="props.item.abstract" @click="showContent(props.item,'abstract')"><v-icon><v-icon>inbox</v-icon></v-icon></td>
              <!--<td v-if="!props.item.special"><v-icon>{{props.item.hasSpecial}}</v-icon></td>-->
              <td v-if="!props.item.special">-</td>
              <td class="click" v-if="props.item.special" @click="showContent(props.item,'special')"><v-icon>inbox</v-icon></td>
              <td class="click" @click="showContent(props.item,'id')"><v-icon>inbox</v-icon></td>
              <!--<td>{{ props.item.key }}</td>-->
            </template>
          </v-data-table>
          <v-card-row actions>
            <v-btn flat class="green--text" tag="a" href="copy.html">Copy Mode</v-btn>
            <v-btn primary light @click.native="logout">Logout</v-btn>
          </v-card-row>
        </v-card>
      </v-flex>
      <v-dialog scrollable v-model="dialog.show" width="800px" persistent id="alotstext">
        <v-card>
          <v-card-row>
            <v-card-title>{{dialog.who}}'s {{dialog.type.toUpperCase()}}</v-card-title>
          </v-card-row>
          <v-divider></v-divider>
          <v-card-row>
            <v-card-text style="font-size:16px;line-height:1.8;">{{ dialog.content }}</v-card-text>
          </v-card-row>
          <v-divider></v-divider>
          <v-card-row actions>
            <v-btn class="green--text darken-1" flat="flat" @click.native="dialog.show = false">Dismiss</v-btn>
          </v-card-row>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-app>
  <script>
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          notauth: true,
          acc: '',
          p: '',
          pagination:{descending:true,rowsPerPage:-1,sortBy:'time'},
          search: '',
          headers: [
            { text: 'Time', value: 'time', left: true },
            { text: 'Name', value: 'name', left: true },
            { text: 'Email', value: 'email', left: true },
            { text: 'Affiliation', value: 'affiliation', left: true },
            { text: 'Job', value: 'job', left: true },
            { text: 'Hotel', value: 'hotelOption', left: true },
            { text: 'Check-in', value: 'hotelStartDate', left: true },
            { text: 'Check-out', value: 'hotelEndDate', left: true },
            { text: 'Poster', value: 'doPoster', left: true },
            { text: 'Oral', value: 'doOral', left: true },
            { text: 'Talk time', value: 'oralTime', left: true },
            { text: 'Tour', value: 'joinTour', left: true },
            { text: 'Title', value: 'title', left: true },
            { text: 'Abs', value: 'hasAbstract', left: true },
            { text: 'Sp', value: 'hasSpecial', left: true },
            { text: 'ID', value: 'id', left: true },
            // { text: 'Key', value: 'key', left: true }
          ],
          regs: [],
          loading: true,
          dialog: {
            show: false,
            who: '',
            type: '',
            content: ''
          }
        }
      },
      mounted: function () {
        var me = this
        firebase.auth().onAuthStateChanged(function (user) {
          if (user) {
            me.notauth = false
            me.clearLogin()
            me.load()
          } else {
            // User is signed out.
            // ...
            me.notauth = true
            me.regs = []
            me.clearLogin()
          }
        })
      },
      methods: {
        clearLogin: function () {
          this.acc = ''
          this.p = ''
        },
        logout: function () {
          firebase.auth().signOut().catch(function (error) {
            // An error happened.
            var errorMessage = error.message
            alert(errorMessage)
          })
        },
        login: function () {
          firebase.auth().signInWithEmailAndPassword(this.acc, this.p).catch(function (error) {
            // Handle Errors here.
            // var errorCode = error.code
            var errorMessage = error.message
            // ...
            alert(errorMessage)
          })
        },
        load: function () {
          var me = this
          me.loading = true
          firebase.database().ref('reg').once('value').then(function (snap) {
            if (snap.exists()) {
              var data = snap.val()
              var keys = Object.keys(data)
              keys.forEach(function (key) {
                // console.log(key)
                me.regs.push(me.processReg(key, data[key]))
              })
              me.loading = false
            }
          })
        },
        showContent: function (item, type) {
          this.dialog.who = item.name
          this.dialog.type = type
          this.dialog.content = item[type]
          this.dialog.show = true
        },
        processReg: function (key, data) {
          data = Object.assign({}, data)
          // replace string
          if (!data.title) {
            data.title = '-'
          }
          if (data.hotelOption == 'Hsiu-Chi House') {
            data.hotelOption = 'HC'
          } else if (data.hotelOption == 'Just Sleep') {
            data.hotelOption = 'JS'
          }
          if (data.hotelStartDate) {
            data.hotelStartDate = data.hotelStartDate.replace('2017-', '')
            data.hotelStartDate = data.hotelStartDate.replace('-', '/')
          }
          if (data.hotelEndDate) {
            data.hotelEndDate = data.hotelEndDate.replace('2017-', '')
            data.hotelEndDate = data.hotelEndDate.replace('-', '/')
          }
          if (data.oralTime) {
            data.oralTime = data.oralTime.replace('Talk ', '')
          }
          if (data.abstract.match(/tbd/i) && data.abstract.length < 5) {
            data.abstract = ''
          }
          // handle true/false
          var t = 'done', f = 'clear';
          // var t = 'v', f = 'x';
          // var t = '√', f = '×';
          if (!data.hotel) {
            data.hotelOption = '-'
            data.hotelStartDate = '-'
            data.hotelEndDate = '-'
            data.hotel = ''
          } else {
            data.hotel = t
          }
          if (data.doPoster) {
            data.doPoster = t
            data.oralTime = '-'
            data.doOral = f
          } else {
            data.doPoster = f
            if (!data.doOral) {
              // data.oralWithPoster = '-'
              data.oralTime = '-'
              data.doOral = f
            } else {
              data.doOral = t
              if (data.oralWithPoster) {
                data.doPoster = t
              }
            }
          }
          if (!data.joinTour) {
            data.joinTour = f
          } else {
            data.joinTour = t
          }
          if (!data.abstract) {
            data.hasAbstract = f
          } else {
            data.hasAbstract = t
          }
          if (!data.special) {
            data.hasSpecial = f
          } else {
            data.hasSpecial = t
          }
          return {
            name: data.nameTitle + ' ' + data.nameFirst + ' ' + data.nameLast,
            email: data.email,
            affiliation: data.affiliation,
            job: data.job,
            hotel: data.hotel,
            hotelOption: data.hotelOption,
            hotelStartDate: data.hotelStartDate,
            hotelEndDate: data.hotelEndDate,
            doPoster: data.doPoster,
            doOral: data.doOral,
            oralTime: data.oralTime,
            joinTour: data.joinTour,
            title: data.title,
            hasAbstract: data.hasAbstract,
            hasSpecial: data.hasSpecial,
            abstract: data.abstract,
            special: data.special,
            id: data.id,
            key: key,
            time: new Date(data.timestamp)
          }
        },
      }
    })
  </script>
  <!--<script>
  app.regs.push(app.processReg('a',{email:'aaa@bbbbbbb.com'}))
  </script>-->
</body>

</html>